node_modules
bower_components
npm-debug.log
.settings/*
.git/*
.env
.vscode
.DS_Store
.config
.dist
.default
.angular
.vscode
temp*
*.tmp
*.log
*.bak
*.swp
*.sh
nul*
dist
data
uploads
tmp
temp
logs
dist
